body {
    background-color:beige;
    font-family: "roboto", sans-serif;
}

h1, h2 {
    text-align: center;
}

p{
    color: brown;
}
#parrafo-duki{
    font-size: 1.5em;
    color: blue;
}

a, img{
    display: block;
}

a{
    margin: 50px 20px;
    text-decoration: none;
    color: black;
}

a:hover{
    color:blanchedalmond
}

img{
    width: 70%;
    margin: auto;
}